Gemfile.lock
*.swp
.asciidoctor
_package
_preview
architecture/core_concepts/images/docker-diagram.png
architecture/core_concepts/images/docker-diagram.png.cache
dev_guide/builds/images/chained-build.png
dev_guide/builds/images/chained-build.png.cache
.DS_Store

install_config/registry/extended_registry_configuration.adoc

install_config/registry/extended_registry_configuration.adoc

install_config/registry/extended_registry_configuration.adoc

install_config/registry/securing_and_exposing_registry.adoc

install_config/revhistory_install_config.adoc

install_config/router/customized_haproxy_router.adoc

architecture/networking/haproxy-router.adoc

install_config/router/customized_haproxy_router.adoc
