<footer class="footer-digital-garage">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 logo">
        <a href="http://www.thedigitalgarage.io/"></a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-6 text-center">
        <div class="row">
          <div class="col-xs-12 col-md-4">
          <a href="http://community.thedigitalgarage.io">
            Our Community
          </a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 text-right">
        <a id="built_with_asciibinder" href="http://asciibinder.org/">
          <img src="http://docs.thedigitalgarage.io/_images/asciibinder_web_logo.svg" alt="AsciiBinder" />
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->
