<footer>
	<section class="bg-navy u-py-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-5">
					<img src="{{ site.baseurl }}/assets/img/partner/AWS_Parnter_Badge_WHT.svg" alt="AWS Technology Partner" style="height: 225px">
				</div>
				<div class="col-lg-2 col-md-6 mb-5 ml-auto">
					<h4 class="text-white">Useful Links</h4>
					<ul class="list-unstyled u-lh-2">
						<li class="mb-3"><a href="">Why FaktorZ</a></li>
						<li class="mb-3"><a href="">How it Works</a></li>
						<li class="mb-3"><a href="">Pricing</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-md-6 mb-5 ml-auto">
					<h4 class="text-white">Useful Links</h4>
					<ul class="list-unstyled u-lh-2">
						<li class="mb-3"><a href="">About Us </a> </li>
						<li class="mb-3"><a href="">Testimonials </a> </li>
						<li class="mb-3"><a href="">Knowledgebase </a> </li>
						<li class="mb-3"><a href="">Blog</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 mb-5 ml-auto">
					<h4 class="text-white">Contact Info</h4>
					<ul class="list-unstyled">
						<li class="mb-3">
							<span class="icon icon-Mail text-green mr-2"></span> <a href="mailto:info@faktorz.com">info@faktorz.com</a>
						</li>
						<li class="mb-3">
							<span class="icon icon-Pointer text-green mr-2"></span> Faktorz, Inc., Dallas TX
						</li>
					</ul>
					<ul class="list-inline social social-rounded mt-4">
						<li class="list-inline-item">
							<a href="https://www.facebook.com/theDigitalGarage16"><i class="fab fa-facebook"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com/tDigitalGarage"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://www.linkedin.com/company/the-digital-garage"><i class="fab fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
			</div><!-- END row-->
		</div><!-- END container-->
	</section><!-- END section-->
	<section class="u-py-40 bg-navy-dark">
		<div class="container">
			<p class="mb-0 text-center">
				&copy; Copyright 2017-2018 - Created by <a class="text-orange" href="https://www.thedigitalgarage.io" target="_blank">FaktorZ, Inc.</a>
			</p>
		</div>
	</section><!-- END section-->
</footer><!-- END footer-->
