.footer-digital-garage {
  background-color: #fff;
  border-bottom: 38px solid #438c9f;
  bottom: 0;
  font-size: 12px;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
  a {
    color: #131313;
    margin-left: 30px;
    position: relative;
    top: 12px;
    &:hover {
      color: #cc0000;
    }
  }
  .logo a {
    background: url(/images/DigitalGarage_logo.svg) no-repeat;
    display: inline-block;
    height: 34px;
    margin: 0;
    top: auto;
    width: 110px;
  }
}

@media screen and (max-width: 400px) {
  .footer-digital-garage a {
    margin-left: 15px;
  }
}

.footer-digital-garage-new {
  background-color: #010101;
  bottom: 0;
  font-size: 12px;
  height: 60px;
  padding: 15px 0;
  left: 0;
  position: absolute;
  width: 100%;
  a {
    color: #DEE0DC;
    margin-left: 30px;
    position: relative;
    top: 7px;
    &:hover {
      color: #ebecea;
    }
  }
  .logo a {
    background: url(../images/DigitalGarage_logo.svg) no-repeat;
    background-size: 93.4px 30px;
    display: inline-block;
    height: 34px;
    margin: 0;
    top: auto;
    width: 93.4px;
  }
}

@media screen and (max-width: 400px) {
  .footer-digital-garage-new a {
    margin-left: 15px;
  }
}
